<div class="sticky">
  <div class="files-header">
    <h1 *ngIf="title">{{ title }}</h1>
    <h1 *ngIf="!title">Your Storage</h1>
    <div class="search" *ngIf="actions">
      <mat-icon>search</mat-icon>
      <p>Search in content</p>
    </div>
    <button class="highlight" *ngIf="actions" [matMenuTriggerFor]="uploadMenu">Add content</button>
    <mat-menu #uploadMenu="matMenu">
      <button *ngIf="component === 'folder';else elseBlock" mat-menu-item (click)="fileInput.click()">
        <input hidden multiple type="file" #fileInput (change)="onFileInputToFolder(fileInput.files)"/>
        <mat-icon>post_add</mat-icon>
        <span>Upload file from device</span>
      </button>
      <ng-template #elseBlock>
        <button mat-menu-item (click)="fileInput.click()">
          <input hidden multiple type="file" #fileInput (change)="onFileInput(fileInput.files)"/>
          <mat-icon>post_add</mat-icon>
          <span>Upload file from device</span>
        </button>
      </ng-template>
      <button mat-menu-item (click)="createFolder()">
        <mat-icon>folder</mat-icon>
        <span>Create folder</span>
      </button>
    </mat-menu>
    <mat-icon *ngIf="actions" [matMenuTriggerFor]="moreMenu">more_vert</mat-icon>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="createCategory()">
        <mat-icon>add_circle</mat-icon>
        <span>Create category</span>
      </button>
      <ng-container *ngIf="component === 'folder'">
        <button mat-menu-item (click)="addCategory()">
          <mat-icon>add_circle</mat-icon>
          <span>Add Folder to Category</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="shareOptions">
          <mat-icon>share</mat-icon>
          <span>Share</span>
        </button>
        <mat-menu #shareOptions="matMenu">
          <button mat-menu-item (click)="shareWithUser()">
            <mat-icon>folder_shared</mat-icon>
            Share with user
          </button>
          <button mat-menu-item (click)="publishFile(true)">
            <mat-icon>public</mat-icon>
            Make content public
          </button>
        </mat-menu>
        <button mat-menu-item (click)="editFolder()">
          <mat-icon>edit</mat-icon>
          <span>Edit Folder Name</span>
        </button>
        <button mat-menu-item (click)="deleteFolder()">
          <mat-icon>delete</mat-icon>
          <span>Delete Folder</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <div class="spacer"></div>
</div>
