app-content-card {
  transition: all 150ms ease-out;
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }
}
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 0.7fr));
  grid-gap: 1.5rem;
  justify-self: stretch;
}
.content-container {
  padding: 0.5rem;
}
