<nav @load>
    <div class="nav-container"> 
        <img src="../../assets/images/logo.png" routerLink="home" height="75" alt="logo">
        <div class="links">
            <ul>
                <li *ngFor="let link of links" routerLink="{{link}}">{{ link }}</li>
            </ul>
            <div class="login" [@slider]="animate ? 'slide': ':enter'" (click)="toggle()" >
                <mat-icon class="circle" [@slider]>east</mat-icon>
                <div class="text">{{text}}</div>
            </div>
        </div>
    </div>
</nav>