.container {
  display: flex;
  gap: 3rem;
  padding: 0 1rem;
}
.profile-card {
  margin-top: 1rem;
  min-width: 250px;
  width: 30%;
  aspect-ratio: 6/5;
  height: fit-content;
}
mat-card-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  .image {
    width: 50%;
    height: 125px;
    font-size: 125px;
    text-align: center;
  }
  .username {
    font-size: 16px;
    font-weight: 500;
  }
  .email {
    color: gray;
    text-align: center;
    font-size: 12px;
  }
}
mat-tab-group {
  width: 70%;
}
.friends-table {
  width: 100%;
}
.expansion-content {
  display: flex;
  gap: 1rem;
}
.center {
  text-align: center;
  padding-right: 5px!important;
}
.profile-icon {
  font-size: 32px;
}
.overview-list {
  padding: 1rem 2rem;
  border-radius: 6px;
  mat-list-item:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.04);
  }
  mat-list-item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  mat-list-item:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
.item-flex {
  display: flex;
  flex-direction: row;
  & > :not(:first-child, :nth-child(2)) {
    margin-left: auto;
  }
  & > :first-child {
    min-width: 18%;
    margin-right: 30%;
  }
  align-items: center;
  padding: 0 3rem;
  width: 100%;
}

