.container {
  text-align: center;
}
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.5rem;
  justify-self: stretch;
}
app-file-card {
  width: 100%;
}
