section {
  text-align: center;
  margin: 0 auto 5em;
}
p {
  color: #5d5858;
  font-weight: 400;
}

.section-header {
  width: 70%;
  margin-top: 40px;
}
.section-header h1 {
  color: white;
  font-size: 46px;
  font-weight: 300;
  margin: 8px;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0 1px 4px #23430C;
}

.section-main {
  width: 90%;
}
.section-main h1 {
  font-size: 48px;
  font-weight: 100;
  color: #50b0db;
}

mat-card {
  border-radius: 50px;
  padding-bottom: 30px;
}


