<section class="section-header">
  <h1>Save content outside of your device</h1>
  <p>Also you can explore and share content with others</p>
  <button mat-raised-button style="background: #fafafaab" routerLink="/search">Explore content</button>
</section>

<mat-card>
  <section class="section-main">
    <h1>Upload your files and public them</h1>
    <p>We notice that you have not registered or you are just not logged in. For uploading and sharing files you have to be logged in.</p>
    <button mat-raised-button style="background: #ffa500ad">Register</button>
  </section>
</mat-card>
