<div class="file-header">
  <h1>{{ folder.name }}</h1>
  <mat-icon class="upload-button" [matMenuTriggerFor]="menu">add</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="fileInput.click()">
      <input hidden multiple type="file" #fileInput (change)="onFileInput(fileInput.files)"/>
      <mat-icon>post_add</mat-icon>
      <span>Upload file from device</span>
    </button>
    <button mat-menu-item (click)="openFolderDialog()">
      <mat-icon>folder</mat-icon>
      <span>Create folder</span>
    </button>
  </mat-menu>
  <mat-icon>more_vert</mat-icon>
</div>
<div *ngIf="files; else elseBlock">
  <h2>Files</h2>
  <div class="file-grid"><app-content-card *ngFor="let file of files" [data]="file" (click)="openDetailDialogOf(file)"></app-content-card></div>
</div>
<ng-template #elseBlock>
  <p>No data</p>
</ng-template>
