<mat-sidenav-container>
  <!-- sidenav -->
  <mat-sidenav #sidenav class="main-sidenav" mode="over">
    <div class="flex" *ngIf="!showAdminBoard; else elseBlock">
      <div class="header">
        <img class="logo-image" src="assets/images/logo.png" alt="logo">
        <button class="highlight" [disabled]="!isLoggedIn" [matMenuTriggerFor]="menu">Add content</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="fileInput.click()">
            <input hidden multiple type="file" #fileInput (change)="onFileInput(fileInput.files)"/>
            <mat-icon>post_add</mat-icon>
            <span>Upload file from device</span>
          </button>
          <button mat-menu-item (click)="createFolder()">
            <mat-icon>folder</mat-icon>
            <span>Create folder</span>
          </button>
        </mat-menu>
      </div>
      <div class="spacer"></div>
      <div class="column highlight" [routerLink]="" [routerLinkActive]="'active'">
        <mat-icon fontSet="material-icons-round">home</mat-icon>
        <span>Home</span>
      </div>
      <div class="spacer"></div>
      <mat-expansion-panel [expanded]="isLoggedIn" [disabled]="!isLoggedIn">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>storage</mat-icon>
            <span>Your Storage</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex">
          <ng-container *ngFor="let list of routerLinkList">
            <div *ngIf="!list.sub" [routerLink]="list.link" routerLinkActive="active" class="column highlight">
              <mat-icon>{{list.matIcon}}</mat-icon>
              <span>{{list.title}}</span>
            </div>
            <mat-expansion-panel *ngIf="list.sub && isLoggedIn">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>{{list.matIcon}}</mat-icon>
                  <span>{{list.title}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="flex">
                <div *ngFor="let subList of this.categories$|async" [routerLink]="['categories']" [queryParams]="{category: subList.name}" routerLinkActive="active" class="column highlight">
                  <mat-icon *ngIf="subList.name === 'Favourite'; else elseBlock">favorite</mat-icon>
                  <ng-template #elseBlock>
                    <mat-icon>star</mat-icon>
                  </ng-template>
                  <span>{{subList.name}}</span>
                </div>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </div>
      </mat-expansion-panel>
      <div class="spacer"></div>
      <div class="column highlight" routerLink="search" routerLinkActive="active">
        <mat-icon fontSet="material-icons-round">public</mat-icon>
        <span>Public files</span>
      </div>
      <div class="spacer"></div>
    </div>
    <ng-template #elseBlock>
      <div class="flex">
        admin sidenav
      </div>
    </ng-template>
  </mat-sidenav>
  <!-- router-outlet (main-content) -->
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
