@use 'src/scss/abstracts/mixins' as *;
/* sidenav css */
mat-sidenav-container {
  height: 100vh;
}
.main-sidenav {
  width: 260px;
  top: 10px;
  left: 12px;
  bottom: 10px;
  border-radius: 14px;
  padding: 1em;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.column {
  display: flex;
  align-items: center;
  width: 98%;
  color: #000000b8;
  padding: 0 12px;
  font-size: 15px;
  height: 42px;
  user-select: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.logo-image {
  width: 58px;
}
.spacer {
  @include spacer($width: 96%);
}
.storage-size {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  width: 230px;
  .storage-values {
    display: flex;
    justify-content: space-between;
  }
}
mat-icon {
  margin-right: 8px;
}
mat-expansion-panel {
  width: inherit;
  user-select: none;
  box-shadow: none!important;
}
mat-expansion-panel-header {
  height: 42px!important;
  padding: 0 12px!important;
}
mat-panel-title, mat-expansion-panel {
  color: #000000b8;
}
