.custom-dialog {
  .mat-dialog-container, .mat-dialog-content {
    padding: 0;
    max-height: none;
    overflow: hidden;
  }
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #0000004d !important;
}
.mat-expansion-panel-body {
  padding: 0 24px !important;
}
.mat-dialog-content {
  margin: 0 !important;
}
.mat-menu-content {
  padding: 0 !important;
}
mat-icon:hover {
  cursor: pointer;
}
