@mixin highlight {
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  &:is(button) {
    border: 1px solid #00000030;
    background: rgba(0,0,0,0.05);
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    background: rgba(0,0,0,0.05);
  }
}

@mixin spacer($width: 100%, $space: 0) {
  width: $width;
  margin: $space 0;
  height: 1px;
  background-color: #e1e1e1;
}
