<div class="container">
  <h1>Search for public files</h1>
  <div class="search">
    <form>
      <mat-form-field>
        <mat-label>Enter File Name</mat-label>
        <input type="text"
               #searchBox
               placeholder="Search"
               aria-label="Enter File Name"
               matInput
               (input)="inputChange(searchBox.value)">
      </mat-form-field>
    </form>
    <div class="filter" matRipple (click)="allPublicFiles()">Show Shared Files</div>
  </div>
</div>
<div class="file-grid"><app-file-card *ngFor="let file of files | async" [file]="file" (click)="selectedFile=file"></app-file-card></div>


