.container {
  text-align: center;
  margin-top: 4em;
}
form {
  width: 150px;
}
mat-form-field {
  width: 100%;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 0.7fr));
  grid-gap: 1.5rem;
  justify-self: stretch;
}
app-file-card {
  width: 100%;
}

.filter {
  width: 185px;
  height: 3em;
  background-color: white;
  border-radius: 12px;
  line-height: 3em;
  padding: 0 1.5em;
  transition: all 150ms ease-out;
}
.filter:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2em;
}
