<div class="container">
  <mat-tab-group>
    <mat-tab label="Reports">
      <h2>Reports</h2>
      <mat-accordion *ngIf="reports$|async">
        <mat-expansion-panel hideToggle *ngFor="let report of reports$|async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              File id {{ report.fileId }}
            </mat-panel-title>
            <mat-panel-description>
              {{ report.reason }}
              <div class="user">
                <mat-icon>account_circle</mat-icon>
                user {{ report.creatorId }}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-button color="warn" (click)="submitReport(report.id)">Submit</button>
            <button mat-button color="accent" (click)="dismissReport(report.id)">Dismiss</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Users">
      <h2>Users</h2>
      <mat-accordion *ngIf="users$|async">
        <mat-expansion-panel hideToggle *ngFor="let user of users$|async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              User {{ user.id }}
            </mat-panel-title>
            <mat-panel-description>
              {{ user.email }}
              <div class="user">
                <mat-icon>account_circle</mat-icon>
                {{ user.username }}
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Change user storage size (in GB)</mat-label>
            <input matInput type="number" [(ngModel)]="spaceNumber">
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="accent" (click)="changeStorageSpace(spaceNumber, user.id)">Apply</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
