h1 {
  width: 70%;
  min-width: 6ch;
  font-size: 156px;
  font-weight: 500;
  line-height: 120%;
}
.bc-image {
  height: 100%;
  background-image: url("../../../assets/images/Cloud_Computing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
