<div class="container">
  <h1>Here you can upload your content</h1>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option (click)="fileInput.click()"><mat-label>File: </mat-label>
        <span>
          {{ file ? file.nameFile : 'Select' }}
        </span>
        <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" /></mat-option>
      <mat-option value="option2">Link from internet</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h1>Recent files</h1>
<div class="wrap"><app-file-card *ngFor="let file of files" [file]="file"></app-file-card></div>
