<div class="container">
  <h1>Here you can upload your content</h1>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option (click)="fileInput.click()"><mat-label>File from device</mat-label>
        <input hidden multiple type="file" #fileInput (change)="onFileInput(fileInput.files)"/></mat-option>
      <mat-option value="option2">Link from internet</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h1>Recent files</h1>
<div class="file-grid"><app-file-card *ngFor="let file of files" [file]="file" (click)="selectedFile = file"></app-file-card></div>
<app-file-detail [file]="selectedFile" (closeEvent)="selectedFile=$event" *ngIf="selectedFile"></app-file-detail>



