@use 'src/scss/abstracts/mixins' as *;
mat-drawer-container {
  height: 100%;
}
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.5rem;
  justify-self: stretch;
}
.files-header {
  display: flex;
  gap: 2rem;
  h1  {
    flex-shrink: 0;
    font-size: 42px;
  }
  mat-icon, button {
    margin: auto 0;
  }
}
.files-header:nth-child(1) {
  margin-right: 1rem;
}
.spacer {
  @include spacer($space: 1.5rem);
}

app-content-card {
  transition: all 150ms ease-out;
  &:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #ededed;
  border-radius: 4px;
  padding: 0.6rem;
  p {
    margin: 0;
  }
}
.container {
  padding-left: 0.5rem;
}

.detail-sidenav {
  padding: 1em;
  width: max(20%, 235px);
  border-left: 1px solid #e1e1e1;
  background-color: #fafafa;
}
