@use 'scss/custom_theme';

html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
:not(mat-icon) {
  font-family: 'Open Sans', sans-serif !important;
}
:focus { outline: none; }

*, *:before, *:after {
  box-sizing: inherit;
}
/* cancel default material css (have to use !important to overwrite it) */

.custom-dialog .mat-dialog-container, .custom-dialog .mat-dialog-content {
  padding: 0;
  max-height: none;
  overflow: hidden;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #0000004d!important;
}
.mat-expansion-panel-body {
  padding: 0 24px!important;
}

/* global */

.highlight-border {
  border: 1px solid #00000030;
}
