html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
*:not(mat-icon) {
  font-family: 'Open Sans', sans-serif !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.custom-dialog .mat-dialog-container, .custom-dialog .mat-dialog-content {
  padding: 0;
  max-height: none;
  overflow: hidden;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #0000004d !important;
}
