html, body {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.custom-dialog .mat-dialog-container, .custom-dialog .mat-dialog-content {
  padding: 0;
  max-height: none;
  overflow: hidden;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #0000004d !important;
}
