mat-card {
  width: fit-content;
  margin: 6em auto 0;
  padding: 5em 5em 52px;
  position: relative;
}
mat-form-field {
  display: block;
}
mat-card-header {
  height: 35px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #2a85ff;
  border-left: 5px solid #2a85ff;
  padding-left: 2.3em;
  position: absolute;
  left: 0;
  top: 25px;
}

.footer-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #969696;
  text-align: center;
  &:hover {
    color: #222222;
    cursor: pointer;
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 8em;
  height: 3em;
  color: #35A4DB;
}

.flex {
  display: flex;
  gap: 1em;
}
.flex > mat-form-field {
  width: 120px;
}

div[role="alert"] {
  color: red;
  text-align: center;
}

.footer-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #969696;
  text-align: center;
}

