mat-card {
    width: fit-content;
    margin: 0 auto;
    padding: 5em;
    position: relative;
}
mat-form-field {
  display: block;
}
mat-card-header {
  height: 35px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #ffa500;
  border-left: 5px solid orange;
  padding-left: 2.3em;
  position: absolute;
  left: 0;
  top: 25px;
}

.footer-text {
  margin-top: 3em;
  margin-bottom: 0;
  color: #969696;
  text-align: center;
}
.footer-text:hover {
  color: #222222;
  cursor: pointer;
}

button {
  display: block;
  margin: 0 auto;
  width: 8em;
  height: 3em;
  color: orange;
}
