<mat-card>
    <mat-card-header>
        <h1>LOGIN</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <label>
              <input formControlName="email" matInput type="email">
            </label>
          </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
              <label>
                <input formControlName="username" matInput type="text">
              </label>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
              <label>
                <input formControlName="password" matInput type="password">
              </label>
            </mat-form-field>
            <button type="submit" mat-stroked-button>Login<mat-icon>chevron_right</mat-icon></button>
        </form>
    </mat-card-content>
    <mat-card-footer>
        <div role="alert" *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</div>
        <p class="footer-text" routerLink="/registration">I am not registered.</p>
      <div class="flex">
        <p class="social-login">
          Sign in with:
          <a href="{{ googleURL }}">
            <img alt="Login with Google" src="/assets/img/google.png">
          </a>
          <a href="{{ facebookURL }}">
            <img alt="Login with Facebook" src="/assets/img/facebook.png">
          </a>
        </p>
      </div>
    </mat-card-footer>
</mat-card>
