mat-card {
  width: fit-content;
  padding: 5em 5em 40px;
  position: relative;
  margin: 6em auto 0;
}
mat-form-field {
  display: block;
}
mat-card-header {
  height: 35px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: #fcbc2d;
  border-left: 5px solid #fcbc2d;
  padding-left: 2.3em;
  position: absolute;
  left: 0;
  top: 25px;
}

.footer-text {
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #969696;
  text-align: center;
  &:hover {
    color: #222222;
    cursor: pointer;
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 8em;
  height: 3em;
  color: orange;
}
.social-login {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  a img {
    width: 30px;
    height: 30px;
  }
}
div[role="alert"] {
  color: red;
  text-align: center;
}
