<nav>
  <mat-toolbar>
    <div class="flex-container">
      <mat-icon appHighlight fontSet="material-icons-round" class="menu-icon" (click)="toggleSideBar()">menu</mat-icon>
      <div appHighlight class="logo" routerLink="">
        <img class="logo-image" src="assets/images/logo.png" alt="logo">
        <span class="logo-text">SelfStorage</span>
      </div>
    </div>
    <div appHighlight class="account-button">
      <mat-icon>account_circle</mat-icon>
      <div class="account-text">
        <span>Admin</span>
        <mat-icon fontSet="material-icons-round" class="expand-icon">expand_more</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</nav>
