nav {
    margin: 40px auto;
    padding: 0 2.5em;
    width: 85%;
    min-width: 620px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

img {
    outline: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin-right: 1.5em;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 580;
    text-transform: uppercase;
    outline: none;
}

li:hover {
    color: #35A4DB;
    cursor: pointer;
}

mat-icon {
    color: #35A4DB;
    font-size: 18px;
}

.nav-container {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.login {
    display: flex;
    width: 124px;
    height: 42px;
    position: relative;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    outline: none;
}

.text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 580;
    position: absolute;
    right: 30px;
    top: 10px;
}

.login:hover, img:hover {
    cursor: pointer;
}

.circle {
    height: 42px;
    width: 40px;
    padding: 11px 10px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-left-width: 0;
    box-sizing: border-box;
    border-radius: 30px;
}


.active {
    color: orange;
}


/* animations

.slide {
    animation: slide 0.3s linear forwards;
}

.fade {
    animation: fade 0.3s linear forwards;
}

.fade > div {
    display: none;
}



@keyframes slide {
    0% { transform: translate(0px); border-left-width: 1px; }
    100% { transform: translate(86px); border-left-width: 1px; }
}
*/
