mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  border-radius: 6px;
}

.flex-container{
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  padding: 0 14px;
}
.logo-image {
  width: 48px;
  margin-right: 6px;
}
.logo-text, .expand-icon {
  font-size: 24px!important;
  margin: 0!important;
}

.mat-icon-button, .mat-icon {
  width: fit-content;
  height: fit-content;
}
.mat-icon {
  line-height: normal !important;
  font-size: 38px;
  user-select: none;
  cursor: pointer;
}

.account-button, .account-text {
  display: flex;
  align-items: center;
  padding: 0;
}
.account-text * {
  margin-left: 6px;
  font-size: 14px;
}




