mat-card {
  width: fit-content;
  margin: 0 auto;
  padding: 4em;
  position: relative;
}
mat-form-field {
  display: block;
}
mat-card-header {
  height: 60px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #35A4DB;
  border-left: 5px solid #35A4DB;
  padding-left: 1.8em;
  position: absolute;
  left: 0;
  top: 15px;
}

.footer-text {
  color: #35A4DB;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  width: 8em;
  height: 3em;
  color: #35A4DB;
}

